/* Jumbotron css */
.jumbotron {
  text-align: center;
  background-position: center; 
  background-repeat: no-repeat;
  background-color: black;
  margin-bottom: 0rem;
}

.visual {
  /* opacity: 0.85; */
  color: #0000AD;
}

/* Navbar css */
li {
  padding: 0rem 1.0rem;
}

a {
  font-size: 1.5rem;
  text-align: center;
}

/* Form css */
form {
  margin: 1.5rem;
}